*~
*.log
_UNIVERSE_
logs
idx/*

*.o
*.lo


# GNU Autoconf and Automake
Makefile.in
*.scan
Makefile
aclocal.m4
autom4te.cache
config.h
config.h.in*
config.log
config.status
/config/*
configure
.deps
.dirstamp
stamp-h1
*.tar.gz


# index of qclassify
*.idx

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Dynamic libraries
*.so
*.dylib

# vim
*.swp
*.bak

# Binary results
qclassify/cphrase
qclassify/idx_phrases
qclassify/qcmarker

# test binaries
tests/unit/config/config_unit_test
tests/unit/utils/utils_unit_test
tests/unit/qclassify/qclassify_unit_test
